body
{
    background-color: rgb(255, 255, 255);
    background-image:url('gradient2.png');
    background-repeat:repeat-x;
}

table, td, tr
{
    border: 1px solid grey;
    padding: 10px;
}

table.reference, table.tecspec {
    border-collapse: collapse;
    width: 60%;
}
table, th, td, input, textarea {
    font-size: 100%;
}

element.style {
    width: 55%;
}
table.reference th {
    background-color: #555555;
    border: 1px solid #555555;
    color: #FFFFFF;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}
table, th, td, input, textarea {
    font-size: 100%;
}

table.reference tr:nth-child(odd)	{background-color:#F6F4F0;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana,helvetica,arial,sans-serif;
}

caption
{
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    font-size:12px;
}

ul.a {list-style-type:circle;}
ul.b {list-style-type:square;}
ol.c {list-style-type:upper-roman;}
ol.d {list-style-type:lower-alpha;}
ol.e {list-style-image:url('square.png');}

#text-line-through
{
    text-decoration:line-through;
}

#text-overline
{
    text-decoration:overline;
}

div.example {
	width:auto;
    color:#000000;
	background-color: #000000;margin:0px;padding:5px;border:1px solid #d4d4d4;
	background-image: linear-gradient( #FFFFFF , #463655 1000px);
}

div.example_code {
	width:auto;background-color:#ffffff;padding:5px;border:1px solid #d4d4d4;font-size:14px;font-family:"courier new";
}

pre {
}

div.section {
    display: none;
}

div.background {
    width: 800px;
    height: 300px;
    /* background: blue; */
    background: url("sunset.jpg") repeat;
    border: 2px solid black;
}

div.transparentbox {
    margin: 30px 50px;
    background-color: white;
    border: 1px solid black;
    opacity:0.6;
    /* for ie8 and earlier */
    filter:alpha(opacity=60);
}

div.transparentbox p {
    margin: 30px 40px;
    font-weight: bold;
}
